<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Micropost:</strong>
  <%= if @user.microposts.first
  	 @user.microposts.first.content
  	  else
  	 "This user hasn't made any posts yet!"
  end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<a href = "https://toy-ruby-app1.herokuapp.com/microposts"> New MicroPost </a>